<html>
   <head>
   <style type="text/css">
				h1, h2, h3, h4 {font-family: times new roman}
				td {vertical-align: top; padding: 5px}
				</style><title> </title>
   </head>
   <body>
      <table>
         <tr>
            <td valign="top" bgcolor="#005747" width="20%"><br/><h3 align="center" style="color:#FFFFFF">Table Of Contents</h3>
               <h3 align="left"></h3>
               <p style="margin-top:-5pt; font-size:12pt"><b><a href="#d0e48"  style="color:#FFFFFF;" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'"> Descriptive Summary </a></b></p>
               <p style="margin-top:-5pt; font-size:12pt" ><b><a href="#d0e83"  style="color:#FFFFFF" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'"> Biographical Sketch </a></b></p>
               <p style="margin-top:-5pt; font-size:12pt" ><b><a href="#d0e94"  style="color:#FFFFFF" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'"> Scope and Content Information </a></b></p>
               <p style="margin-top:-5pt; font-size:12pt" ><b><a href="#d0e99"  style="color:#FFFFFF" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'">Arrangement of the Collection</a></b></p>
               <p style="margin-top:-5pt; font-size:12pt" ><b><a href="#restrictlink"  style="color:#FFFFFF" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'">Restrictions</a></b></p>
               <p style="margin-top:-5pt; font-size:12pt" ><b><a href="#d0e112"  style="color:#FFFFFF" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'">Subject and Genre Headings</a></b></p>
               <p style="margin-top:-5pt; font-size:12pt" ><b><a href="#adminlink"  style="color:#FFFFFF" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'">Administrative Information</a></b></p>
               <p style="margin-top:-5pt; font-size:12pt" ><b><a href="#d0e150"  style="color:#FFFFFF" onMouseOver="this.style.color='#99CCCC'" onMouseOut="this.style.color='#FFFFFF'">Container List</a></b></p>
            </td>
            <td id="main" valign="top" bgcolor="#99CC99" width="80%">
               <center><a href="www.dutchesscountyhistoricalsociety.org"><img alt="banner" src="http://www.dutchesscountyhistoricalsociety.org/images/banner/70924227.jpg"/></a></center>
               <h2 style="text-align:center"><a name=""></a></h2>
               <h3 style="text-align:center"><i><br/></i></h3><hr/>
               <table width="100%">
                  <tr>
                     <td width="25%"></td>
                     <td width="75%"></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <h3><a name="d0e48"> Descriptive Summary </a></h3>
                     </td>
                  </tr>
                  <tr>
                     <td valign="top"><b>Title: </b></td>
                     <td id="title"> </td>
                  </tr>
                  <tr>
                     <td valign="top"><b>Date:</b></td>
                     <td id="date">
                     </td>
                  </tr>
                  <tr>
                     <td valign="top"><b>Physical Characteristics:</b></td>
                     <td id="physdesc"> </td>
                  </tr>
                  <tr>
                     <td valign="top"><b>Abstract:</b></td>
                     <td id="abstract"> 
                     </td>
                  </tr>
                  <tr>
                     <td valign="top"><b>Storage:</b></td>
                     <td id="storage">Available on site in the Clinton House, Dutchess County Historical Society.</td>
                  </tr>
                  <tr>
                     <td valign="top"><b>Language: </b></td>
                     <td id="language">The materials in the collection are in English.</td>
                  </tr>
                  <tr>
                     <td valign="top"><b>Repository:</b></td>
                     <td id="repository">
                     </td>
                  </tr>
               </table>
               <hr/>
               <h3 id="bio"><a name="d0e83"> </a></h3>
               <p><a href="#">Return to the Table of Contents</a></p>
               <hr/>
               <h3 id="scope"><a name="d0e94"> Scope and Content Information </a></h3>
               <p><a href="#">Return to the Table of Contents</a></p>
               <hr/>
               <h3 id="arrange"><a name="d0e99">Arrangement of the Collection</a></h3>
               <p id="lastarr"><a href="#">Return to the Table of Contents</a></p>
               <hr/>
               <h3><a name="restrictlink"><b>Restrictions</b></a></h3>
               <h4 id="access" style="margin-left: 25pt"> Access </h4>
               <h4 id="use" style="margin-left: 25pt"> Copyright </h4>
               <p><a href="#">Return to the Table of Contents</a></p>
               <hr id="headings" />
               <h3><a name="adminlink">Administrative Information</a></h3>
               <h4 style="margin-left:25pt"><a name="d0e141"><b>Preferred Citation</b></a></h4>
               <p id="cite" style="margin-left:50pt">Preferred citation for this material is as follows:</p>

               <h4 id="prov" style="margin-left:25pt"><a name="d0e78"><b> Acquisition Information </b></a></h4>

               <h4 style="margin-left:25pt"><b>Finding Aid Information</b></h4>
               <p id="author" style="margin-left:50pt">

				</p>
				<p id="fadate" style="margin-left:50pt">

				  </p>
				 <p id="revision" style="margin-left:50pt">

               </p>
               <p><a href="#">Return to the Table of Contents</a></p>
               <hr/>
               <h3 id="list"><a name="d0e150">Container List</a></h3>
               
			   
			   <table id="component" width="100%">
                  <tr id="columns">
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="8%"></td>
                     <td width="12%"></td>
                  </tr>
                  <tr id="column_labels">
                     <td><b>Box</b></td>
                     <td><b>Folder</b></td>
                  </tr>

				  <tr id="return_link">
					<td colspan="12">
						<p>
							<a href="#">Return to the Table of Contents</a>
						</p>
					</td>
				  </tr>
               </table>
               
            </td>
         </tr>
      </table>
   </body>
</html>